/* Home.css */

.header-content {
    padding: 20px;
}

.header-content h1 {
    font-size: 2rem; /* Ajusta el tamaño de fuente del título principal */
}

.header-content p {
    font-size: 1.2rem; /* Ajusta el tamaño de fuente del párrafo */
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.overlay-content {
    padding: 20px;
}

.overlay-content h6 {
    font-size: 0.9rem; /* Ajusta el tamaño de fuente del texto dentro del overlay */
}

.overlay-content a {
    font-size: 0.9rem; /* Ajusta el tamaño de fuente de los enlaces dentro del overlay */
}
